name: Auto PR + Auto Merge

on:
  push:
    branches:
      - "feature/**"

permissions:
  contents: write
  pull-requests: write

env:
  BASE_BRANCH: develop

jobs:

  create_pr:
    runs-on: ubuntu-latest
    if: ${{ github.event.before != '0000000000000000000000000000000000000000' }}
    outputs:
      pr_number: ${{ steps.create.outputs.number }}

    steps:
      - uses: actions/checkout@v4

      - name: Extract branch name
        id: vars
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT

      - name: Create PR
        id: create
        run: |
          TOKEN="${{ secrets.PERSONAL_TOKEN }}"
          branch="${{ steps.vars.outputs.branch }}"

          echo "Creating PR: $branch → $BASE_BRANCH"

          result=$(curl -s -X POST \
            -H "Authorization: token $TOKEN" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/pulls \
            -d "{\"title\": \"PR: $branch → $BASE_BRANCH\", \"head\": \"$branch\", \"base\": \"$BASE_BRANCH\"}")

          echo "$result"
          pr=$(echo "$result" | jq -r '.number')

          echo "number=$pr" >> $GITHUB_OUTPUT


  approve_and_merge:
    runs-on: ubuntu-latest
    needs: create_pr
    if: ${{ needs.create_pr.outputs.pr_number != 'null' }}

    steps:
      - name: Approve PR
        run: |
          TOKEN="${{ secrets.PERSONAL_TOKEN }}"
          PR="${{ needs.create_pr.outputs.pr_number }}"

          echo "Auto-approving PR #$PR"

          curl -s -X POST \
            -H "Authorization: token $TOKEN" \
            -H "Accept: application/vnd.github+json" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/$PR/reviews" \
            -d '{"event":"APPROVE"}'

      - name: Merge PR
        run: |
          TOKEN="${{ secrets.PERSONAL_TOKEN }}"
          PR="${{ needs.create_pr.outputs.pr_number }}"

          echo "Auto-merging PR #$PR"

          curl -s -X PUT \
            -H "Authorization: token $TOKEN" \
            -H "Accept: application/vnd.github+json" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/$PR/merge" \
            -d '{"merge_method":"squash"}'
