name: GitFlow PR Creator

on:
  push:
    branches:
      - dev

permissions:
  contents: write
  pull-requests: write

env:
  TOKEN: ${{ secrets.PERSONAL_TOKEN }}

jobs:
  create_pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create release branch
        run: |
          DATE=$(date +'%Y.%m.%d.%H%M%S')
          BR=release/$DATE
          git checkout -b $BR
          git push https://x-access-token:${TOKEN}@github.com/${GITHUB_REPOSITORY}.git HEAD:$BR
          echo "BRANCH=$BR" >> $GITHUB_ENV

      - name: Create PR
        id: pr
        run: |
          PR=$(gh api repos/${GITHUB_REPOSITORY}/pulls \
          -f title="Promote $BRANCH to develop" \
          -f head="$BRANCH" \
          -f base="develop" \
          -H "Authorization: Bearer $TOKEN" \
          --jq ".number")

          echo "pr_number=$PR" >> $GITHUB_OUTPUT

      - name: Trigger second workflow (merge → test → build)
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: token $TOKEN" \
          https://api.github.com/repos/${GITHUB_REPOSITORY}/dispatches \
          -d '{"event_type":"merge_pr","client_payload":{"pr": "'"${{ steps.pr.outputs.pr_number }}"'"}}'
